body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: 'Jost', sans-serif;
<<<<<<< Updated upstream
    background-image: url(../assets/bgLogin.jpg);
=======
    background-image: url(assets/bgLogin.jpg);
>>>>>>> Stashed changes
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
}


.container {
    display: flex;
    width: 80%;
    height: 80%;
    backdrop-filter: blur(55px);
    background-size: cover;
    border-radius: 10px;
    overflow: hidden;
    
}

.left {
    flex: 0.8;
    display: flex;
    justify-content: center;
    align-items: center;;
    color: white;
<<<<<<< Updated upstream
    background-image: url(../assets/logo.png);
=======
    background-image: url(assets/logo.png);
>>>>>>> Stashed changes
    background-position: center;
    background-size: 80%;
    background-repeat: no-repeat;
    flex-direction: column;
    position: relative;
    padding: 30px;
    

}

.left h1 {
    color: rgb(3, 3, 3);
    font-size: 4rem;
    letter-spacing: 2px;
    font-display: bold;
    font-weight: bold;
    margin-bottom: 30px;
}

.main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 30px;
}

.login{
    width: 100%;
    max-width: 400px;
    backdrop-filter: blur(55px);
    padding: 40px;
    border-radius: 60px;
    background-color: shadow(0, 0, 0, 0.);
}

label {
    color: #af2727;
    font-size: 2.3em;
    display: flex;
    margin-bottom: 20px;
    font-weight: bold;
    transition: .5s ease-in-out;
    

}

.login input[type="email"], .login input[type="password"], .login select, .login input[type="text"] {
    width: 90%;
    padding: 12px;
    margin: 10px ;
    border: none;
    border-radius: 5px;
    outline: none;
    background: #e0dede;
    font-size: 1rem;
    text-transform:none ;

}

.row {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.row input[type="text"], .row select {
    width: calc(50% - 10px);
}

button {
    width: 100%;
    padding: 12px;
    margin: 20px 0;
    display: block;
    color: #fff;
    background: #af272786;
    font-size: 1em;
    font-weight: bold;
    outline: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: .2s ease-in;
}

button:hover {
    background: #af2727;
    
}

p {
    margin: 10px 0;
    color: #fff;
    text-align: center;
}

p a {
    color: #020202;
    text-decoration: none;
}

