@import url('https://fonts.googleapis.com/css?family=Space%20Grotesk:700|Space%20Grotesk:400');

:root {
/*  change this for scaling  */
  --m: 4rem;
  
  --red: #FF6565;
  --pink: #FF64F9;
  --purple: #6B5FFF;
  --blue: #4D8AFF;
  --green: #5BFF89;
  --yellow: #FFEE55;
  --orange: #FF6D1B;
  
}
body {
background-image: url(../frontend/assets/bgLogin.jpg);
background-repeat: no-repeat;
background-position: center;
background-size: cover;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
height: 100vh;
margin: 0;
}

.image-button {
  border: none;
  outline: none;
  padding: 80px;
  background: none;
  cursor: pointer;
  width: 600px; /* Sesuaikan dengan ukuran gambar Anda */
  height: 550px; /* Sesuaikan dengan ukuran gambar Anda */
  background-image: url('logo.png');
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.image-button:hover {
  opacity: 0.8; /* Efek hover jika diinginkan */
}

a{
    text-decoration : none;
}